<h1>Welcome</h1>

<div class="field">
	<%= link_to 'Receptionist', doctors_path(:value => 'Receptionist') %>
</div>
<div class="field">
	<%= link_to 'Doctor', doctors_path(:value => 'Doctor') %>
</div>
<div class="field">
	<%= link_to 'Customer', pets_path(:value => 'Customer') %>
</div>
